@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Noticeboard</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Noticeboard!</h2>
        <p>
            Find out what's going on in your area. Have you ever wanted to look at the
            noticeboard in New World from your computer or even on your phone?
            Enter Noticeboard, the community noticeboard on the web.
        </p>
    </div>
</div>